.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    font-size: 2rem;
  }
  
  .skill-item svg {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  /* Media queries for responsiveness */

/* For screens with a maximum width of 768px (tablets and smaller) */
@media (max-width: 768px) {
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .skills-container {
    flex-direction: column;
  }
  .skill-item {
    margin: 20px 0;
  }
  .skill-item svg {
    font-size: 2rem;
  }
}

/* For screens with a maximum width of 480px (mobile devices) */
@media (max-width: 480px) {
  .skills {
    padding: 20px 0;
  }
  .skill-item {
    font-size: 1.5rem;
  }
  .skill-item svg {
    font-size: 1.5rem;
  }
}