@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Outfit", sans-serif;
}

body{
  background: #0A192F;
  color: #FFFFFF;
}

h1,h4,p,a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding:12px 32px;
  font-size: 1rem;
  text-transform:uppercase;
  background-color: #CCD6F6;
  color: #0A192F;
  border:1px solid #CCD6F6;
  font-weight:600;
  cursor:pointer;
}

.btn-light{
  background: transparent;
  color: #CCD6F6;
  border: 1px solid #CCD6F6;
}

.btn:hover{
  background: #CCD6F6;
  color: #0A192F;
  transition:0.3s;
}
